# Auto detect text files and perform LF normalization.
*          text=auto

# Python files
*.py       text diff=python
poetry.lock linguist-generated=true

# Jupyter notebooks
*.ipynb    text eol=lf

# Documents
*.csv      text
*.md       text diff=markdown
*.rst      text
*.txt      text

# Git files
*.gitattributes text
.gitignore text

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
